<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>
<%#= javascript_include_tag 'jquery.js' %>
<%#= javascript_include_tag 'jquery.dataTables.js' %>
<%#= javascript_include_tag 'jquery.dataTables.min.js' %>
<%#= stylesheet_link_tag 'jquery.dataTables.min'%>
<%#= stylesheet_link_tag 'jquery.dataTables_themeroller'%>
<script>
$(document).ready(function() {
  
    $("#example").dataTable({
      "sPaginationType": "full_numbers",
        "bServerSide": true,
        "bDestroy": false ,
        "sAjaxSource": "/users/index2/1",
        "bProcessing": false,
        /*"sAjaxDataProp": "aData",*/
        
        "bDeferRender":false,
        /*
        "aoColumns": [
            {"mDataProp": 'name'}, //mData 表示发请求时候本列的列明，返回的数据中相同下标名字的数据会填充到这一列
            {"mDataProp": 'age'},
            {"mDataProp": 'home_phone'},
            {"mDataProp": 'home_address'},
            {"sDefaultContent": ''}, // sDefaultContent 如果这一列不需要填充数据用这个属性，值可以不写，起占位作用
            {"sDefaultContent": '', "sClass": "action"}//sClass 表示给本列加class
        ],*/
        "bAutoWidth": true, //自适应宽度
        "sPaginationType": "full_numbers",
        "oLanguage": {
            "sProcessing": "正在加载中......",
            "sLengthMenu": "每页显示 _MENU_ 条记录",
            "sZeroRecords": "正在加载中......",
            "sEmptyTable": "表中无数据存在！",
            "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
            "sInfoEmpty": "显示0到0条记录",
            "sInfoFiltered": "数据表中共为 _MAX_ 条记录",
            "sSearch": "搜索",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上一页",
                "sNext": "下一页",
                "sLast": "末页"
            }
        }
    })
});
</script>
<table id="example">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Sex</th>
      <th>Home phone</th>
      <th>Home address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td colspan="9"></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
